[Unit]
Description=WebFilter-NG service
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/sbin/
ExecStart=/usr/sbin/webfilter-ng
Restart=on-failure

[Install]
WantedBy=multi-user.target
